html, body {
    height: 100vh;

    margin: 0px;
    padding: 0px;
}

canvas {
    display: block;
}

h1 {
    border: 5px solid black;

    font-family: 'Montserrat';
    font-size: 7em;
    line-height: 0.8em;
    text-transform: uppercase;

    width: auto;

    position: absolute;
    /* top: 2em; */
    /* left: 2em; */
    top: 10vh;
    left: 10vw;

    padding: 0.2em;
}

h2 {
    border: 5px solid black;

    font-family: 'Montserrat';
    font-size: 6em;
    line-height: 0.8em;
    text-transform: uppercase;

    width: auto;

    position: absolute;
    /* top: 4em; */
    /* left: 2em; */
    top: 20vh;
    left: 10vw;

    padding: 0.2em;
}